.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(42, 42, 42);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.back-to-top:hover {
    background: #646464;
}