name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-fe:
    name: Build Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install FE dependencies
        run: |
          cd fe
          npm install

      - name: Build FE
        run: |
          cd fe
          npm run build
